.customContainerStyles {
    margin:0px auto;
    display: flex;
    flex-direction:column;
    margin-top:100px;
}
.customContainerStyles h2 {
    font-size: 20px;
    text-align:center;
}
.tecnology {
    display: flex;
    flex-direction:column;
    width:75px;
    margin:40px;
}
.tecnologyContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.customContainerStyles span {
    text-align: center;
}